@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Condensed Regular'), local('FiraSansCondensed-Regular'),
       url('/whispers/assets/fonts/fira-sans-condensed-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/whispers/assets/fonts/fira-sans-condensed-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Reset */
html,
body,
div,
span,
h1,
p,
blockquote,
pre,
em,
img,
small,
strong,
legend,
article,
footer,
header,
section {
    font-size: 100%;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    background-color: transparent;
}

html {
    font-family:
    'Fira Sans Condensed',
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    sans-serif;
    line-height: 1.15;
    overflow-y: scroll;
    box-sizing: border-box;
    height: 100%;
}

*,*::before,*::after {
    box-sizing: inherit;
    background-repeat: no-repeat;
}

body {
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0D0D0D;
    color: #F2B66D;
}

figcaption,
figure,
footer,
header,
section {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

/* Whispers */

a:link {
  color: #B9B4D9;
}

a:visited, a:active {
  color: #BF8450;
}

a:hover, button:hover {
  color: #D9B1A3;
}

hr {
    border-color: #BF8450;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 1em;
}

p {
    line-height: 1.2em;
}

header > p {
    text-align: justify;
    font-size: 1.2em;
    margin: 1em;
}

main {
    margin: 0 auto;
    max-width: 1200px;
}

section {
    max-width: 1020px;
    margin: 0 auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

section > p {
    font-size: 1.4em;
    margin: 1em;
}

footer {
    margin: 1em;
    text-align: center;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}


button {
    text-align: center;
    background:none;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    cursor: pointer;
}

button:focus {
    outline:none !important;
}

.avoid-break {
    display: inline-block;
}

.all {
    display: flex;
}

.all img {
    border: 1px solid #B9B4D9;
}

.tablets {
    padding-top: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.tablets > button {
    text-decoration: underline;
    font-size: 1.1em;
}

.panels {
    display: flex;
    flex-wrap: wrap;
}

.panels img {
    margin: 0 8px 10px 8px;
    border: 1px solid #B9B4D9;
}

section button {
    width: fit-content;
    margin: 0 auto;
}

.zoombox {
    display: grid;
    height: 100vh;
    background-image: url(../../grain.png);
    background-size: auto, 100% 100%;
}

.zoom {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    box-shadow: 1px 1px 0 rgba(13,13,13,0.1) inset, 0 0 1px rgba(185,180,217,0.5), 0 0 20px rgba(185,180,217,0.5);
}

.icon {
  width: 30px;
  height: 30px;
  stroke: #F2B66D;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  cursor: pointer;
}

.icon:hover, .icon:focus, .icon:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  stroke: #BF8450;
}

.icon:hover {
    transition: stroke .15s ease-in;
}

.icon:active {
    stroke: #B9B4D9;
}

.control {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    z-index: 2;
}

.description {
    position: fixed;
    left: 5vw;
    bottom: 5vh;
    font-size: 2.5vh;
    max-width: 90vw;
    -webkit-text-stroke: 0.03em #0D0D0D;
    text-stroke: 0.03em #0D0D0D;
    line-height: 1.2em;
    font-weight: 600;
}

.description-button {
    position: fixed;
    top: 10px;
    left: 5px;
}

.description-button .icon {
    width: 20px;
    height: 20px;
}

.description > p {
    margin-bottom: 1em;
}

.close {
    position: fixed;
    top: 5px;
    right: 0;
}

.desc-off .icon {
    stroke: rgba(100,100,100,0.9);
}

.next, .previous {
    position: fixed;
    top: 50%;
}

.next {
    right: 0;
}

.previous {
    left: 0;
}

.next > .icon {
    width: 60px;
    height: 60px;
}

.previous > .icon {
    width: 60px;
    height: 60px;
}
